<div class="row ">
    {{#acf}}
        {{# screenshots }}
            <div class="col-md-6 col-lg-4 screenshot mb-3">
                <noscript>
                    <img src="{{& sizes.medium }}" alt="{{ alt }}"/>
                </noscript>
                <img src="{{& sizes.medium }}"
                     srcset="{{& sizes.medium }} 300w,
                            {{& sizes.large }} 768w,
                            {{& url }} {{ width }}w"
                     sizes="(min-width: 768px) 33vw, 100vw"
                     alt="{{ alt }}" />
            </div>
        {{/screenshots}}
    {{/acf}}
</div>
