.section-portfolio-grid {

  .portfolio-grid-item {
    padding: 1.5em;
    cursor: pointer;
  }
  .portfolio-grid-more-info {
    transition: height 0.4s;
    overflow: hidden;
  }
  .portfolio-grid-item .portfolio-grid-more-info {
    display: none;
  }
  .portfolio-grid-feature img {
    width: 100%;
  }
  .portfolio-grid-screenshots-container {
    transition: height 0.4s;
    overflow: hidden;

  }
  @include media('>md') {
    .portfolio-feature-meta {
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        font-size: 0.8em;
        margin: 0.6em;
        padding: 0.6em;
        border: 1px solid $red;
        background: rgba($white, 0.98);
      }

    }
  }
}