.section-portfolio-grid {

  .portfolio-grid-more-info {
    transition: height 0.4s;
    overflow: hidden;
  }
  .portfolio-grid-item .portfolio-grid-more-info {
    display: none;
  }
  .portfolio-grid-feature img {
    width: 100%;
  }

}