
/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* # Images, Lazy, loading
---------------------------------------------------------------------------------------------------- */
.not-loaded {
  opacity: 0;
}
/* classes that not-loaded could be applied too.  Gives a nice fade in when .not-loaded is removed
---------------------- */
.banner {
  transition: opacity 0.4s;
}

/* ## Avatar
--------------------------------------------- */

.avatar {
  float: left;
}

.alignleft .avatar,
.author-box .avatar {
  margin-right: to-em(24px);
}

.alignright .avatar {
  margin-left: to-em(24px);
}

.comment .avatar {
  margin: 0 to-em(16px) to-em(24px) 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
  margin-bottom: to-em(40px);
}

.archive-description,
.author-box {
  margin-bottom: $main-margin-bottom;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
  overflow: hidden;
}

.site-header .search-form {
 // margin-top: to-em(12px);
  text-align: center;


  input {
    padding: calc(0.5em + 5px) 0.5em;
    font-size: 1rem;
    font-weight: bold;
    color: $red;
    background: rgba($white, 0.98);
    border: 1px solid $red;
    @include placeholder {
      color: rgba($red, 0.5);
    }
  }
  input:focus {
    @include placeholder {
      color: transparent;
    }
  }
}

.entry-content .search-form,
.site-header .search-form {
 // width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto to-em(24px);
}

img.alignnone,
.alignnone {
  margin-bottom: to-em(12px);
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 to-em(24px) to-em(24px) 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 to-em(24px) to-em(24px);
}

.wp-caption-text {
  font-size: 14px;
  font-size: to-em(14px);
  font-weight: 700;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 to-em(28px);
}
