

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
  clear: both;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;

  a {
    display: block;
    color: $color-anchor-default;
    text-decoration: none;
    //padding: to-em(15px) to-em(10px);
  }

  a:hover,
  a:focus,
  .current-menu-item > a,
  .sub-menu .current-menu-item > a:hover,
  .sub-menu .current-menu-item > a:focus {
    color: lighten($color-anchor-default, 30%);
  }

  .sub-menu {

    position: static;
    transition: opacity 0.4s ease-in-out;
    z-index: 99;

    @include media('>mobileMenu') {
      position: absolute;
      min-width: to-em(210px, $global-font-size);
      left: -9999px;
      opacity: 0;
    }

    a {

      @include media('>mobileMenu') {
        background-color: $background-default;
        padding: 0.5em 0.2em;
        position: relative;
        word-wrap: break-word;
      }
    }
  }

  .menu-item:hover > .sub-menu,
  .menu-item > a:focus + ul.sub-menu,
  .menu .menu-item.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
    width: to-em(210px);
  }

  .menu-item:focus {
    position: static;
  }
}



/* NAV-PRIMARY
--------------------------------------------------------------------------- */

.nav-primary {
  display:none;

  @include media('>mobileMenu') {
    display: block;
  }

  .menu {
    display: flex;
    flex-flow: column nowrap;

    @include media('>mobileMenu') {
      flex-flow: row wrap;
      justify-content: space-evenly;
    }

    & > li { //1st-level
      width: 100%;

      @include media('>mobileMenu') {
        width: auto;
      }
    }
  }


}




/* Responsive Menu
------------------------------------------------------------------------------------- */

 //.genesis-responsive-menu is added to menus via js
.genesis-responsive-menu {
  display:none;

  @include media('>mobileMenu') {
    display: block;

  }

  li,
  li:hover {
    position: relative
  }

  .sub-menu {
    display: none;
    margin: 0 0 0 2rem;
    width: calc( 100% - 2rem );
  }

}


.menu-toggle {
  padding:0;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  position: relative;

  &:before {
    position: absolute;
    color: #1a1a1a;
    top: 0;
    left:0;
    display: inline-block;
    font-size: 3rem;
    margin: 0 auto;
    padding: 0;
    width: 3rem;
    height: 3rem;
  }
  &.activated:before {
    content: "\f158";
   /* right: 1.5rem;*/
  }
}

.sub-menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  padding: 0 1.25rem 0;
  &:before {
    color: #1a1a1a;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 250ms;
  }

  &.activated:before {
    transform: rotate(-90deg);
  }
}


.menu-toggle,
.sub-menu-toggle {
  background: transparent;

  &:hover,
  &:active,
  &:focus {
      box-shadow: none;
      background: transparent;
    }
  }



@include media('>mobileMenu') {
  .menu-toggle,
  .sub-menu-toggle {
    display: none;
    visibility: hidden;
    color: transparent;
  }
}