
/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  font-size: 0.7rem;
  line-height: 1;
  padding: to-em(10px) 0;
  color: $white;
  background-color: $black;

  text-align: center;
  p {
    margin-bottom: 0;
  }
}
.footer-widgets {
  background: #eee;
}
.footer-widgets .wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include media('>md') {
    flex-flow: row nowrap;
    align-items: center;
  }
}

.footer-widget-area {
  flex: 1;
}

