/* Breakpoints
-------------------------------------- */

$screen-xs-min:                0px;
$screen-sm-min:              576px;
$screen-md-min:              768px;  //main breakpoint
$screen-lg-min:              992px;
$screen-xl-min:             1200px;


$grid-breakpoints: (
        xs: $screen-xs-min,
        sm: $screen-sm-min,
        md: $screen-md-min,
        lg: $screen-lg-min,
        xl: $screen-xl-min
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);


//Breakpoints for media queries

$breakpoints: (
        xs: $screen-xs-min,
     phone: 320px,
        sm: $screen-sm-min,
        md: $screen-md-min,
    tablet: 768px,
        mobileMenu: 950px,
        lg: $screen-lg-min,
        xl: $screen-xl-min
);


/* Sizing
----------------------------------------- */

$max_screen_width: 1500px;
$wrap-padding: 40px;

$site-header-min-height: 160px;
$site-header-padding-top: 20px;
$site-header-padding-bottom: 20px;

$header-image-min-height: 40px;
$sidebar-gutter: 20px;

$main-margin-bottom: 60px;


$section-tb-padding: 50px;


/* Grid - Columns
------------------------------------------ */

$grid-columns:                12;
$grid-gutter-width:           30px;


// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);


/* margins
------------------------------------- */

$p_bottom_margin: 2.8rem;


/* Colors
------------------------------------ */


//
// Color system
//

$white:    #ffffff; //#F0E7D8;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #1E1A1D;

$grays: (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
        );

$brown: #8C705F;
$blue:    #3A405A;
$indigo:  #1F0318;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #a7233a;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
                        "blue":       $blue,
                        "indigo":     $indigo,
                        "purple":     $purple,
                        "pink":       $pink,
                        "red":        $red,
                        "orange":     $orange,
                        "yellow":     $yellow,
                        "green":      $green,
                        "teal":       $teal,
                        "cyan":       $cyan,
                        "white":      $white,
                        "gray":       $gray-600,
                        "gray-dark":  $gray-800
                );

$primary:       $red;
$secondary:     $indigo;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: (
                        "primary":    $primary,
                        "secondary":  $secondary,
                        "success":    $success,
                        "info":       $info,
                        "warning":    $warning,
                        "danger":     $danger,
                        "light":      $light,
                        "dark":       $dark
                );
$btn-default-bg: map-get($theme-colors, 'primary');
$btn-default-color: $white;

$color-default: $black;
$background-default: $white;
$color-anchor-default: $blue;
$color-border-default: #dddddd;



/*
  Buttons
  -------------------------------------------------------- */

$btn-default-color:           $white;
$btn-default-bg:               $red;
$btn-padding-y:               0.6rem;
$btn-padding-x:               1rem;
$btn-line-height:             1.5;

$btn-font-weight:             300;
$btn-box-shadow:              none;
$btn-border-width:            1px;
$btn-border-radius:           0;
$btn-transition:              all .3s ease-in-out;
$btn-border-width:            1px;

/* Typography
------------------------------------- */

$global-font-size: 16px;
$line-height-default: 1.625;

$font_main: 'Muli', sans-serif;
$font_mono: 'Inconsolata', monospace;

$font-default: $font_main;
